
<%= render partial: 'layouts/form_errors',
locals: {
  model: @work
}
%>



<%= form_with model: @work, class: 'work-form' do |f| %>

  <h3><%= form_with %></h3>
  <%= f.label :Category %>
  <%= f.select :category, ["movie", "book", "album"] %>
    <br>

  <%= f.label :Title %>
  <%= f.text_field :title %>
  <%= f.label :Creator %>
  <%= f.text_field :creator %>
  <%= f.label :Publication_year %>
  <%= f.text_field :publication_year %>

  <%= f.submit action_type, class: "work-form-submit-button" %>

<% end %>
