
  <h2>Im the show page</h2>
  <strong>

    <p> Title: <%= @work.title %></p>
    <p> Created by: <%= @work.creator %></p>
    <p> Published: <%= @work.publication_year %></p>
    <p> <%= @work.description %></p>
  </strong>
  <div class="links">
 <%= link_to "Delete work", @works, method: :delete, data: { confirm: "Are you sure that you want to delete ?" } %>
  <%= link_to "Edit Work", edit_work_path(@work.id) %>

   <%= link_to "Upvote", upvote_path(@work.id), method: :post, class: "btn btn-outline-info" %>
</div>
